body {
  background-color: rgb(31, 29, 29);
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(6, 60px);
  gap: 20px;
  justify-content: center;
  margin: 90px;
}
.cell {
  width: 70px;
  height: 70px;
  background-color: blue;
  border-radius: 50%;
  border: 2px solid red;
}
