body {
  background-color: rgb(26, 24, 24);
  text-align: center;
}
#title {
  color: rgb(30, 0, 255);
  text-align: center;
  border: 3px solid white;
}
#message {
  /* background-color: red; */
  /* display: inline-block; */

  text-align: center;
  color: red;
  border: 3px solid white;
  padding: 2px 10px 9px 2px;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px;
  gap: 20px;
  justify-content: center;
  margin: 90px;
}
.cell {
  width: 70px;
  height: 70px;
  background-color: rgb(239, 239, 249);
  border-radius: 50%;
  border: 2px solid red;
}

#resetButton {
  background-color: blue;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}
